.popup__text {
  border: none;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  padding: 0 2px 10px;
  margin: 0;
  color: #000;
}

.popup__text:focus {
  outline: solid #1974d2 2px;
  border-radius: 2px;
}

@media screen and (max-width: 619px) {
  .popup__text:last-of-type {
    margin-bottom: 45px;
  }
}