.popup__save-button {
  padding: 14px 0;
  border: none;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  line-height: 1.22;
  transition: opacity .1s ease-in;
}

.popup__save-button:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 619px) {
  .popup__save-button {
    height: 46px;
    font-size: 14px;
    line-height: 1.2;
  }
}