.profile__button_type_add {
  background-color: transparent;
  background-image: url(../../../../images/button-add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  margin: 0 0 0 auto;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 740px) {
  .profile__button_type_add {
    margin: 0;
    background-size: 16px;
    width: 282px;
  }
}