.logo {
  width: 142px;
  height: 33px;
  margin: 0 0 41px;
}

@media screen and (max-width: 920px) {
  .logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 619px) {
  .logo {
    margin-bottom: 31.6px;
    width: 104px;
    height: 24px;
  }
}