.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../../images/profile.jpg);
  background-position: center;
  padding: 0;
  margin: 0 30px 0 0;
  position: relative;
}

.profile__image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url(../../../images/button-edit.svg);
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.profile__image:hover::after {
  visibility: visible;
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0;
  }
}