.places {
  max-width: 880px;
  margin: 0 auto 47px;
  padding: 0;
}

@media screen and (max-width: 920px) {
  .places {
    max-width: 581px;
  }
}

@media screen and (max-width: 619px) {
  .places {
    max-width: 563px;
    margin-bottom: 28px;
  }
}