.header {
  margin: 45px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 880px;
  padding: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 920px) {
  .header {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 619px) {
  .header {
    margin-top: 0;
    flex-direction: column;
  }
}
